@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.div {
  display: grid;
  justify-content: center;
  align-items: start;
  height: 1050px;
  background-color: #ffffff;
}

.div1 {
  display: grid;
  align-items: end;
  width: 1200px;
  height: 700px;
  background-color: #ffffff;
  justify-content: center;
  grid-template-columns: 300px 300px 300px;
  grid-column-gap: 30px;
  grid-row-gap: 35px;
}

.empty {

  padding-top: 3rem;
  grid-column: 1/4;
  background-color: #ffffff;
  color: #221934;
  text-align: center;
  height: 200px;
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  letter-spacing: 4px;
}

.empty p{
padding-bottom: 15px;
}

.service {
  padding-top: 22px;
  background-color: #f5f4f5;
  height: 280px;
  text-align: center;
  font-size: medium;
  font-weight: 900; 
  line-height: 26px;
  font-family: 'Rubik', sans-serif;
}

.service p{
  text-align: center;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.service-7{
  grid-column: 1/4;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}


